[submodule "dl_computer_vision/practice/YOLOX"]
	path = dl_computer_vision/practice/YOLOX
	url = https://github.com/Megvii-BaseDetection/YOLOX
[submodule "dl_computer_vision/practice/ByteTrack"]
	path = dl_computer_vision/practice/ByteTrack
	url = https://github.com/ifzhang/ByteTrack
[submodule "semester3/research_project/mmpose"]
	path = semester3/research_project/mmpose
	url = https://github.com/open-mmlab/mmpose/
[submodule "dl_computer_vision/practice/video_convolution"]
	path = dl_computer_vision/practice/video_convolution
	url = https://github.com/srijandas07/video_convolution
[submodule "federated_learning/practice/FedCourse23"]
	path = federated_learning/practice/FedCourse23
	url = https://gitlab.inria.fr/arodio/FedCourse23
[submodule "dl_computer_vision/practice/two-stream-action-recognition"]
	path = dl_computer_vision/practice/two-stream-action-recognition
	url = https://github.com/mohammed-elkomy/two-stream-action-recognition.git
[submodule "dl_computer_vision/practice/gdown.pl"]
	path = dl_computer_vision/practice/gdown.pl
	url = https://github.com/circulosmeos/gdown.pl.git
