[submodule "dl_computer_vision/practice/YOLOX"]
	path = dl_computer_vision/practice/YOLOX
	url = https://github.com/Megvii-BaseDetection/YOLOX
[submodule "dl_computer_vision/practice/ByteTrack"]
	path = dl_computer_vision/practice/ByteTrack
	url = https://github.com/ifzhang/ByteTrack
[submodule "semester3/research_project/mmpose"]
	path = semester3/research_project/mmpose
	url = https://github.com/open-mmlab/mmpose/
[submodule "dl_computer_vision/practice/video_convolution"]
	path = dl_computer_vision/practice/video_convolution
	url = https://github.com/srijandas07/video_convolution
