* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    /*font-family: Sans Mono, monospace, sans-serif;*/
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

#scene {
    background-image: url("./map.jpeg");
    background-size: cover;
}